{{ define "content" }}
<p class="lead" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <a href="/thread/new">创建一个新群</a> 或者去看看你感兴趣的群!
  </p>

  {{ range . }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="lead"><i class="fa fa-comment-o"></i> {{ .Topic }}</span>
      </div>
      <div class="panel-body">
        群主：<strong>{{ .User.Name }}</strong> - 创建于：{{ .CreatedAtDate }} - 发表了 {{ .NumReplies }} 帖子
        <div class="pull-right">
          <a href="/thread/read?id={{ .Uuid }}">进入</a>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}